.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel{
    display: flex;
    align-items: center;
    width: 900px;
    height: 500px;
}

#carousel i{
    border: 3px solid black;
    border-radius: 50%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

.gallery{
    width: 100%;
    margin: 30px;
    position: relative;
}

.gallery figure{
    display: none;
}

.gallery figure.active{
    display: block;
}

.gallery img{
    width: 100%;
    border-radius: 20px;
}

.gallery figcaption{
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    color: #fff;
    text-shadow: 0 0 5px black;
}

#thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    height: 100px;
}

.thumb {
    width: 150px;
    height: 100px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.thumb.active {
    opacity: 1;
    border: 2px solid white;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

figcaption{
    margin-right: 45px;
}